<div class="center jumbotron jumbotron-text">

    <h1>Welcome to the App</h1>

    <h2 class="jumbotron-text">
        This is the home page for learning.
    </h2>

    <% if !logged_in? %>
        <%= link_to "Sign Up Now!", signup_path, class: "btn btn-lg btn-primary" %>
    <% end %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails Logo"), 'http://rubyonrails.org' %>
